html, body, .m-vwrapper {
    height: 100%;
    overflow-x: hidden; 
}

.container,.container-fluid{
    height: 100%;
}

.m-center{
    position: relative;
    top:25%;
}

.m-no-outline{
    outline: none !important;
    border: none !important;
}

#otp-card div{
    padding: 8px;
}

#phone,#otp{
    font-size: 2em
}

.onboard-step-2 label, .onboard-step-2 input{
    font-size: 1.5em !important;
}

#idea-details{
    height: 100px !important;
    font-size: 1.5rem;
}

#address{
    height: 80px !important;
    font-size: 1.5rem;
}

.breadcrumb{
  color: rgba(255,255,255,0.7) !important;  
}
.breadcrumb.active{
    color: white !important; 
}

blockquote{
    border-left-color: black !important;
}

.m-large{
    font-size: 2rem;
}

.card-title{
    padding:8px;
}

.m-offer-text{
    padding: 8px;
    color:black;
}

#edit-info{
    margin:8px;
}

.thumbs-wrapper img{
    width: 48px;
    height: 48px;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .card.flat-in-small {
        box-shadow: none;
    }
}